<h1>Show Question</h1>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @question.content %>
  </li>

  <li>
    <strong>Answer:</strong>
    <%= @question.answer %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.question_path(@conn, :edit, @question) %></span> |
<span><%= link "Back", to: Routes.question_path(@conn, :index) %></span>
